---
import CarouselServices from "./CarouselServices";
---

<div class="lg:px-40 px-5 lg:py-14 py-5">
  <h2 class="lg:text-4xl text-2xl font-bold text-[#25516D] text-center">
    Seguros que te cuidan en todo momento
  </h2>
  <p class="lg:text-[26px] text-[14px] text-center lg:mt-10 mt-5 font-bold">
    Ofrecemos una amplia gama de seguros que se ajustan a cada etapa de tu vida,
    para brindarte la <br /> tranquilidad que mereces.
  </p>
  <div class="lg:w-[65%] w-full mx-auto">
    <CarouselServices client:load />
  </div>
</div>
