---
import FAQsAccordion from "./components/FAQsAccordion.tsx";
import Hero from "./components/Hero.astro";
import Partners from "./components/Partners.astro";
import TypesOfInsurance from "./components/TypesOfInsurance.astro";
import TermsAccordion from "./components/TermsAccordion.tsx";
import Contacts from "../contacts/Contats.astro";
import Chatbot from "../chatbot/ChatBot";
---

<Hero />
<Partners />
<TypesOfInsurance />
<div
  class="flex flex-col lg:flex-row gap-x-5 bg-[#F3F3F3] lg:px-40 lg:mt-10 mt-5"
>
  <FAQsAccordion client:load />
  <TermsAccordion client:load />
</div>
<Contacts />
<Chatbot client:load />
