<section class="lg:px-10 px-5 mt-5 lg:mt-10 w-full">
  <div
    class="flex lg:flex-row flex-col items-center gap-5 w-full justify-evenly"
  >
    <img
      class="lg:w-[30%] w-[90%] rounded-2xl shadow-2xl"
      src="/img-png/contacts.png"
      alt="contact"
    />
    <div class="shadow-2xl rounded-2xl lg:p-14 p-5">
      <h2
        class="text-2xl lg:text-4xl mb-5 font-bold text-center text-[#1F81B9]"
      >
        Contactanos
      </h2>
      <p class="text-[10px] text-center mb-5">
        Create your account in a second to receive our latest news!
      </p>
      <form class="lg:w-[400px] w-full">
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Nombre</span>
          </div>
          <input
            type="text"
            placeholder="Type here"
            class="input input-bordered w-full"
          />
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Email</span>
          </div>
          <input
            type="email"
            placeholder="Type here"
            class="input input-bordered w-full"
          />
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Asunto</span>
          </div>
          <textarea
            placeholder="Asunto"
            class="textarea textarea-bordered textarea-lg w-full"></textarea>
        </label>
        <button
          type="submit"
          class="btn bg-[#1F81B9] w-full lg:mt-10 mt-2 text-white hover:bg-[#1F81B9]/80"
        >
          Enviar
        </button>
      </form>
    </div>
  </div>
</section>
