<footer class="bg-[#2475A8] lg:p-16 p-5 relative overflow-hidden lg:px-52">
  <div class="lg:text-lg text-base-content footer text-white">
    <aside class="flex flex-col w-full justify-center items-center lg:block">
      <div class="flex flex-col lg:flex-row gap-x-3 items-center">
        <img src="/img-png/logowhite2.png" class="w-[115px] h-[80px]" alt="" />
        <h4 class="text-2xl font-semibold">Atesegu</h4>
      </div>

      <p class="max-w-72 mt-5 text-center">
        Protegiendo tu bienestar con seguros a medida para cada etapa de la
        vida. Contamos con coberturas diseñadas para ofrecerte seguridad y
        tranquilidad
      </p>
    </aside>
    <div class="w-full justify-center flex flex-col items-center lg:hidden">
      <nav class="flex justify-center flex-col items-center">
        <h6 class="footer-title">Inicio</h6>
        <a class="link link-hover">Nosotros</a>
        <a class="link link-hover">Preguntas Frecuentes</a>
        <a class="link link-hover">Política de Privacidad</a>
      </nav>
      <nav class="flex justify-center flex-col items-center">
        <h6 class="footer-title">Servicios</h6>
        <a class="link link-hover">Seguros Empresariales</a>
        <a class="link link-hover">Seguros Personales</a>
        <a class="link link-hover">Seguros de Salud</a>
        <a class="link link-hover">Seguros de Vida</a>
      </nav>
      <nav class="flex justify-center flex-col items-center">
        <h6 class="footer-title">Soporte</h6>
        <a class="link link-hover">Centro de Ayuda</a>
        <a class="link link-hover">Asistencia en Línea</a>
        <a class="link link-hover">Documentación y Reclamaciones</a>
      </nav>
      <nav class="flex justify-center flex-col items-center">
        <h6 class="footer-title">Contacto</h6>
        <a class="link link-hover"> 04 6052115 </a>
        <a class="link link-hover">servicioalcliente@ats.net.ec</a>
        <h6 class="footer-title">Ubicación</h6>
        <a class="link link-hover max-w-60 text-center"
          >Casa Matriz Luis Orrantia 25, Edif. Elite, Piso 203 Guayaquil Guayas;
          Ecuador</a
        >
      </nav>
    </div>

    <nav class="hidden lg:flex justify-center flex-col items-center">
      <h6 class="footer-title">Inicio</h6>
      <a class="link link-hover">Nosotros</a>
      <a class="link link-hover">Preguntas Frecuentes</a>
      <a class="link link-hover">Política de Privacidad</a>
    </nav>
    <nav class="hidden lg:flex justify-center flex-col items-center">
      <h6 class="footer-title">Servicios</h6>
      <a class="link link-hover">Seguros Empresariales</a>
      <a class="link link-hover">Seguros Personales</a>
      <a class="link link-hover">Seguros de Salud</a>
      <a class="link link-hover">Seguros de Vida</a>
    </nav>
    <nav class="hidden lg:flex justify-center flex-col items-center">
      <h6 class="footer-title">Soporte</h6>
      <a class="link link-hover">Centro de Ayuda</a>
      <a class="link link-hover">Asistencia en Línea</a>
      <a class="link link-hover">Documentación y Reclamaciones</a>
    </nav>
    <nav class="hidden lg:flex justify-center flex-col items-center">
      <h6 class="footer-title">Contacto</h6>

      <a class="link link-hover"> 04 6052115 </a>
      <a class="link link-hover">servicioalcliente@ats.net.ec</a>
      <h6 class="footer-title">Ubicación</h6>
      <a class="link link-hover max-w-60 text-center"
        >Casa Matriz Luis Orrantia 25, Edif. Elite, Piso 203 Guayaquil; Guayas;
        Ecuador</a
      >
    </nav>
  </div>
  <div class="lg:mt-10 mt-3">
    <hr />
    <p class="mt-5 text-white text-base text-center">
      © 2024 Atesegu Seguros. Todos los derechos reservados.
    </p>
    <a href="https://www.shepwashi.com/" target="_blank">
      <p class="text-white text-base text-center">Hecho por SHEPWASHI.</p>
    </a>
    <img
      src="img-png/logowhite.png"
      alt=""
      class="absolute lg:-top-24 bottom-[25%] hidden lg:block right-1 w-[500px] h-auto"
    />
  </div>
</footer>
