<footer
  class="bg-gradient-to-r from-[#00A8E8] mt-5 lg:mt-10 to-[#25516d] lg:p-16 p-5 relative overflow-hidden"
>
  <div class="text-base-content footer text-white">
    <aside class="px-5">
      <div class="flex gap-x-3 items-center">
        <img src="/img-png/logoats.png" class="w-[100px] h-[80px]" alt="" />
        <h4 class="text-2xl font-semibold">Atesegu Seguros</h4>
      </div>

      <p class="max-w-72 mt-5">
        Protegiendo tu bienestar con seguros a medida para cada etapa de la
        vida. Contamos con coberturas diseñadas para ofrecerte seguridad y
        tranquilidad
      </p>
    </aside>
    <nav>
      <h6 class="footer-title">Inicio</h6>
      <a class="link link-hover">Nosotros</a>
      <a class="link link-hover">Preguntas Frecuentes</a>
      <a class="link link-hover">Política de Privacidad</a>
    </nav>
    <nav>
      <h6 class="footer-title">Servicios</h6>
      <a class="link link-hover">Seguros Empresariales</a>
      <a class="link link-hover">Seguros Personales</a>
      <a class="link link-hover">Seguros de Salud</a>
      <a class="link link-hover">Seguros de Vida</a>
    </nav>
    <nav>
      <h6 class="footer-title">Soporte</h6>
      <a class="link link-hover">Centro de Ayuda</a>
      <a class="link link-hover">Asistencia en Línea</a>
      <a class="link link-hover">Documentación y Reclamaciones</a>
    </nav>
    <nav>
      <h6 class="footer-title">Contacto</h6>
      <a class="link link-hover">+593 X XXX XXXX</a>
      <a class="link link-hover">contacto@atsegu.com</a>
    </nav>
  </div>
  <div class="lg:mt-10 mt-3">
    <hr />
    <p class="mt-5 text-white text-base">
      © 2024 Atesegu Seguros. Todos los derechos reservados.
    </p>
    <img
      src="img-png/logowhite.png"
      alt=""
      class="absolute lg:-top-24 bottom-[25%] right-1 w-[500px] h-auto"
    />
  </div>
</footer>
