---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacts">
  <div class="border-2 border-gray-200 p-5 rounded-lg">
    <h1 class="text-4xl font-bold">Contacts</h1>
  </div>
</Layout>
