<div class="navbar-end lg:navbar-start max-w-screen-2xl lg:mx-auto">
  <div class="dropdown">
    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h8m-8 6h16"></path>
      </svg>
    </div>
    <ul
      tabindex="0"
      class="menu menu-xl bg-gradient-to-r from-[#00A8E8] via-[#25516D] from-2% to-[#25516D] dropdown-content rounded-box mt-3 w-60 p-2 shadow z-50 text-[18px]"
    >
      <li><a>Inicio</a></li>
      <li><a>Soluciones</a></li>
      <li><a>Seguros Personales</a></li>
      <li><a>Seguros Empresariales</a></li>
      <li><a>Contacto</a></li>
      <div class="flex flex-col gap-y-2 py-2">
        <li>
          <button class="btn-sm btn btn-outline border-white text-white"
            >Cotizar ahora</button
          >
        </li>
        <li>
          <button class="btn-sm btn bg-white text-black"
            >Reportar siniestro</button
          >
        </li>
      </div>
    </ul>
  </div>
</div>
<div class="w-[1800px] justify-center mx-auto hidden lg:flex">
  <ul class="menu menu-horizontal px-1 text-[20px]">
    <li class="hover:border-b-2 hover:border-white"><a>Inicio</a></li>
    <li class="hover:border-b-2 hover:border-white"><a>Soluciones</a></li>
    <li class="hover:border-b-2 hover:border-white">
      <a>Seguros Personales</a>
    </li>
    <li class="hover:border-b-2 hover:border-white">
      <a>Seguros Empresariales</a>
    </li>
    <li class="hover:border-b-2 hover:border-white"><a>Contacto</a></li>
    <div class="pl-24 flex gap-2 lg:gap-x-6 px-2">
      <li>
        <button class="btn btn-outline border-white text-white"
          >Cotizar ahora</button
        >
      </li>
      <li>
        <button class="btn bg-white text-black">Reportar siniestro</button>
      </li>
    </div>
  </ul>
</div>
